<div class="row">
  <div class="col-12">
    <img [src]="" alt="" class="img-responsive recipe-image">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="d-flex w-100 justify-content-between">

      <h1 class="mb-1">Recipe Name</h1>

      <div class="btn-group" role="group" aria-label="Manage recipe button">
        <div class="btn-group" role="group">
          <button id="btnManageRecipe" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
          </button>
          <div class="dropdown-menu" aria-labelledby="btnManageRecipe">
            <a class="dropdown-item" href="#">Add ingredients to shopping list</a>
            <a class="dropdown-item" href="#">Edit recipe</a>
            <a class="dropdown-item" href="#">Delete recipe</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p>Description</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p>Ingredients</p>
  </div>
</div>